Client + Website + XamarinApp/WPF_APP/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPerson" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPersons" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllC_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllC" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllC_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllL_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllL" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllL_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_comment_creator_InputMessage">
    <wsdl:part name="parameters" element="tns:comment_creator" />
  </wsdl:message>
  <wsdl:message name="IService1_comment_creator_OutputMessage">
    <wsdl:part name="parameters" element="tns:comment_creatorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCbyP_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCbyP" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCbyP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCbyPResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Lby_Person_InputMessage">
    <wsdl:part name="parameters" element="tns:Lby_Person" />
  </wsdl:message>
  <wsdl:message name="IService1_Lby_Person_OutputMessage">
    <wsdl:part name="parameters" element="tns:Lby_PersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_all_l_types_InputMessage">
    <wsdl:part name="parameters" element="tns:all_l_types" />
  </wsdl:message>
  <wsdl:message name="IService1_all_l_types_OutputMessage">
    <wsdl:part name="parameters" element="tns:all_l_typesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_Location_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_Location" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_Location_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_LocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteC_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteC" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteC_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteL_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteL" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteL_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogIn" message="tns:IService1_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogInResponse" message="tns:IService1_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertPerson" message="tns:IService1_InsertPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertPersonResponse" message="tns:IService1_InsertPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllTypes" message="tns:IService1_SelectAllTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllTypesResponse" message="tns:IService1_SelectAllTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllPersons" message="tns:IService1_SelectAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllPersonsResponse" message="tns:IService1_SelectAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePerson" message="tns:IService1_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePersonResponse" message="tns:IService1_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete" message="tns:IService1_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteResponse" message="tns:IService1_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllC" message="tns:IService1_SelectAllC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllCResponse" message="tns:IService1_SelectAllC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllL" message="tns:IService1_SelectAllL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllLResponse" message="tns:IService1_SelectAllL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="comment_creator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/comment_creator" message="tns:IService1_comment_creator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/comment_creatorResponse" message="tns:IService1_comment_creator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCbyP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCbyP" message="tns:IService1_SelectCbyP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectCbyPResponse" message="tns:IService1_SelectCbyP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lby_Person">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Lby_Person" message="tns:IService1_Lby_Person_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Lby_PersonResponse" message="tns:IService1_Lby_Person_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="all_l_types">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/all_l_types" message="tns:IService1_all_l_types_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/all_l_typesResponse" message="tns:IService1_all_l_types_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImage" message="tns:IService1_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageResponse" message="tns:IService1_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveImage" message="tns:IService1_SaveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveImageResponse" message="tns:IService1_SaveImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_Location">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Create_Location" message="tns:IService1_Create_Location_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Create_LocationResponse" message="tns:IService1_Create_Location_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteC" message="tns:IService1_DeleteC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCResponse" message="tns:IService1_DeleteC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteL" message="tns:IService1_DeleteL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteLResponse" message="tns:IService1_DeleteL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService1/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPerson">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPersons">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllC">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllL">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comment_creator">
      <soap:operation soapAction="http://tempuri.org/IService1/comment_creator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCbyP">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCbyP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lby_Person">
      <soap:operation soapAction="http://tempuri.org/IService1/Lby_Person" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="all_l_types">
      <soap:operation soapAction="http://tempuri.org/IService1/all_l_types" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Location">
      <soap:operation soapAction="http://tempuri.org/IService1/Create_Location" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteC">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteL">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceLibary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>